
body {
    background: url('../images/barBG.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    margin: 9rem auto;
    height: 550px;
    border: 3px solid #333;
    border-radius: 15px;
    background-color: rgba(220,220,220, 0.8);
}

.conatiner::after {
    opacity: 1;
}

.row1 {
    border-bottom: 1px solid black;
    padding-left: 10px;
}

.col1 {
    border-right: 1px solid black;
    min-height: 492px;
}

.statsRow {
    border-bottom: 1px solid black;
}

#score {
    padding-top: 7px;
}

.row.animationRow h4 {
    text-align: center;
    width: 100%;
}

.row.wordRow h4 {
    padding-top: 7px;
    text-align: center;
    width: 100%;
    height: 50px;
}

.wordRowWrapper {
    position: absolute;
    left: 50%;
    top: 15%;
}

.wordRow {
    height: 200px;
    border-bottom: 1px solid black;
}

#wordRow {
    position: relative;
    left: -50%;
    height: 150px;
    padding-top: 50px;
}

.usedLetterHeader h4 {
    padding-top: 7px;
    width: 100%;
    text-align: center;
}

.usedLetterRow {
    height: 256px;
}


.usedLetters{
    font-size: 2rem;
    font-weight: bold;
    padding-top: 25px;
    letter-spacing: 10px;
    width: 100%;
    text-align: center;
}

#wordUl {
    display: inline-flex;
    list-style: none;
}

#loseModal.modal-content {
    text-align: center;
}

#popupWrapper {
    width: 600px !important;
    text-align: center !important; 
    position: fixed !important;
    top:45% !important;
    left: 50% !important;
    z-index: 10 !important;
}

.popUpAlert {
    position: relative;
    left: -50%;
    top: -50%;
    color: white;
    background-color: black;
    border: 1px solid black;
    border-radius: 25px;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
}

/* list item that inclueds the string "ltrLi" since index number is added to the end */
li[class *= "ltrLi"] {
    /* display: inline; */
    margin: 0 5px;
    font-size: 2rem;
    font-weight: bold;
    /* border-bottom:1px solid black; */
}

[class *= "ltrBox"] {
    border-bottom: 3px solid black;
    width: 35px;
    text-align: center;
}

.ltrBoxContents {
    border: 0px;
}

#wordUl .space {
    border-bottom: none;
    margin: 0 5px;
}

.hidden{
    border-bottom: none;
    visibility: hidden; 
}




#popupWrapper.show {
    -webkit-animation: fadeinout 4s linear forwards;
    animation: fadeinout 2s linear forwards;
}

@-webkit-keyframes fadeinout {
  0%,100% { opacity: 0; }
  20%,80% { opacity: 1; }
}

@keyframes fadeinout {
  0%,100% { opacity: 0; }
  25%,75% { opacity: 1; }
}


@media screen and (max-width:640px) {
    .container {
        margin: 0 auto;
    }

    .row.animationRow {
        display: none;
    }
}