
.hangManContainer{
    min-height: 100%;
    margin: 10% auto;
}

.hangManContent {
    border: 2px solid black;
    margin-top: -10px;
    min-height:250px;
}

.topRow {
    border-bottom: 2px solid black;
    min-height:100px;
}

.bottomRow{
    height: 150px;
}

.scoreCol{
    border-right: 2px solid black;
}

.usedLetterCol{
    border-right:2px solid black;
}

.usedLetters{
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 5px;
}

#wordUl {
    display: inline-flex;
    list-style: none;
}

/* list item that inclueds the string "ltrLi" since index number is added to the end */
li[class *= "ltrLi"] {
    /* display: inline; */
    margin: 0 5px;
    /* border-bottom:1px solid black; */
}

[class *= "ltrBox"] {
    border-bottom: 1px solid black;
    width: 20px;
    text-align: center;
}

.ltrBoxContents {
    border: 0px;
}

#wordUl .space {
    border-bottom: none;
    margin: 0 5px;
}

.hidden{
    border-bottom: none;
    visibility: hidden; 
}


#overlaywindow {
    position: relative;
    z-index: 5;
    background-color: darkgray;
    width:100px;
    height: 100px;
}






#tempMessage {
    color: white;
    background-color: black;
    border: 1px solid white;
    border-radius: 5rem;
    margin: 0 auto;
    width: 500px;
    text-align: center;
    padding: 15px;
}

#tempMessage p{
    margin: 0;
}

#tempMessage.hidden {
    visibility: hidden;
}

#tempMessage.show {
    position: fixed;
    top: 49%;
    left: 37%
    z-index: 1;
    -webkit-animation: fadeinout 4s linear forwards;
    animation: fadeinout 1.5s linear forwards;
}

@-webkit-keyframes fadeinout {
  0%,100% { opacity: 0; }
  20%,80% { opacity: 1; }
}

@keyframes fadeinout {
  0%,100% { opacity: 0; }
  25%,75% { opacity: 1; }
}